@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
}
body {
	background:#f1f2f3;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

em {
   font-weight: normal;
   font-style: normal;
}

input[type="range"]{
    display: block;
}

input[type=radio] {
   display:none;
}

input[type=radio]:checked span{ 
  color: red !important;
}

a{
    text-decoration: none;
}
a:visited {
  color: black;
}
/*ELEMENTO: BOTON*/

.circular {
    background: #fff;
    margin-bottom: 2em;
    font-size: 1.4em;
    font-weight: normal !important;
    width:250px;
    height:250px;
    border-radius:50%;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circular:hover {
    box-shadow: 0 0 50px #ccc;
    /*text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;*/
}

.selected{
  color: green;
}

/*Añade a .circular para animar elementos*/

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

[class^="pe-7s-"], 
[class*=" pe-7s-"],
.las {
	font-size: 4em;
	font-weight: bolder !important;
}

/*ESTILOS DE BOTONES*/

.btn-blue {
    background: #3a87ff !important;
}
.btn-purple {
    background: #6a40cc !important;
}
.btn-red {
    background: #ff7956 !important;
}
.btn-yellow {
    background: #fbd669 !important;
}
.btn-green {
    background: #4dce9d !important;
}

.btn-blue-gradient {
    background: linear-gradient(180deg, #7fbaff, #7096ff) !important;
}
.btn-purple-gradient {
    background: linear-gradient(180deg, #b596ff, #9f77ff) !important;
}
.btn-red-gradient {
    background: linear-gradient(180deg, #f38d5a, #fc7552) !important;
}
.btn-yellow-gradient {
    background: linear-gradient(180deg, #fdbe55, #fcaa54) !important;
}
.btn-green-gradiente {
    background: linear-gradient(180deg, #4ccd6d, #4dce9d) !important;
}

@media (min-width: 768px) {
    .circular {
        width:320px;
        height:320px;
    }
}

/* Hide all steps by default: */
.tab {
  display: none;
  justify-content: space-around;
}
 

button {
  background-color: #000;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #fff;
  color: black;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}

@media (max-width: 578px) {
    .tab {
        flex-direction: column;

    }

}